$pinkstatik: #ef2678;
$pinkstatik-dark: #be236e;
$dodger-blue: #40b3ff;

$midnight-blue: #000032;
$midnight-blue-variant: #4c4c6f;
$midnight-blue-light: #808098;
$midnight-blue-lighter: #bfbfcb;
$dust:#eaf0f0;
