header {
    width: 100%;
    padding: 1em 0;
    display: inline-block;  
    background: no-repeat center/cover url(../images/cover/Oohaa1.jpg);
    background-attachment: fixed;
    position: relative;
    min-height: 13.5em;
    > .container {
      height: 100%;
    }
    @media only screen and (min-width: 500px){
      min-height: 15em;
    }
}
.antistatique-logo-container {
  margin-top: 0.5em;
  &:hover .antistatique_logo{
    fill: $pinkstatik;
  }
  .antistatique_logo {
    fill: white;
    transition: fill 0.3s ease-in; 
  }
}


.oohaa-logo {
  clear: both;
  text-align: center;
  position: absolute;
  bottom: 1em;
  width: 100%;
  h1 {
    font-size: 3.5rem;
    font-weight: lighter;
    margin-bottom: 0;
    margin-left: 0.5em;
    display: inline-block;
    color: white;    
    @media only screen and (min-width: 500px){
      margin-left: 1rem;
      font-size: 5rem;
    }
    > .a-pink {
      font-size: 1.5em;
    }
  }
  h1:first-of-type {
    margin-left: 0;
  }
  h1:not(.a-pink) {
    animation: 1s ease-in-out textAppear forwards;    
    opacity: 0;
  }
}

@for $i from 0 through 5 {
    .oohaa-logo h1:nth-of-type(#{$i}) { 
      animation-delay: 250ms * $i; 
      // margin-left: 0.5em * $i
    }
}

@keyframes textAppear {
  0% {
    opacity: 0;
    transform: translateY(-40%)
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0)
  }
}