body {
    font-size: 2.5em;
    font-family: "Dagny Pro"
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

p, h1, h2, h3, h4, h5, h6 {
    color: $midnight-blue;
}

a {
    transition: color 0.3s ease-out;
    color: $dodger-blue;
    text-decoration: none;
    font-weight: 700;
}

.section-dark {
    p, h1, h2, h3, h4, h5, h6 {
        color: white;
    }
    a {
        color: $pinkstatik;
        &:hover {
            color: $dodger-blue;
            text-decoration: none;
        }
    }
}

.intro-text a {
    text-decoration: underline
}

a:hover {
    color: $pinkstatik;
}

::selection {
    background-color: $pinkstatik;
    color: white;
}

.container p {
    margin: 1em auto;    
    font-weight: lighter;
}

.container h2 {
    margin-bottom: 5rem;
    text-align: center;
}

span.emoj {
    font-size: 2em;
    width: 1em;
    display: block;
    margin: 0.5em auto;
}

