@import '_colours';
@import '_normalize';
@import '_skeleton';
@import '_typography';
@import '_header';
@import '_buttons';

body {
    color: $midnight-blue;
}

span.a-pink,
#antistatique-asterix {
    color: $pinkstatik;
}

section {
    padding: 5em 0;
}

.section-dark {
    background-color: $midnight-blue;
    color: white;
}

.section-mid {
    background-color: $dust;
    color: white;
}

.section-mid .emoj {
    margin-bottom: -1.5em;
    margin-top: 0.5em;
}

footer {
    padding: 1.5em 0;
    text-align: center;
    font-size: 0.7em;
}