@import '_colours';
@import '_normalize';
@import '_skeleton';
@import '_typography';
@import '_header';
@import '_buttons';

body {
    color: $midnight-blue;
}

span.a-pink,
#antistatique-asterix {
    font-weight: 700;
    color: $pinkstatik;
}

section {
    padding: 5em 0;
}

.section-dark {
    background-color: $midnight-blue;
    color: white;
}

.section-mid {
    background-color: $dust;
    color: white;
}

section.with-bg-img {
    background: no-repeat center/cover linear-gradient(transparentize($pinkstatik, 0.5), transparentize($midnight-blue-lighter, 0.3)), url(../images/cover/Oohaa4.jpg);
    @media only screen and (min-width: 500px){
        background-attachment: fixed;
    }
    p, h1, h2, h3, h4, h5, h6 {
        color: white;
    }
}

.section-mid .emoj {
    margin-bottom: -1.5em;
    margin-top: 0.5em;
}

footer {
    padding: 1.5em 0;
    text-align: center;
    font-size: 0.7em;
}